extends layout

block content
   p hello Koa2 world !

   p Upload File
   form(method='post', enctype='multipart/form-data')
      input(type='file', name='imageupload')
      input(type='submit', name='uploadimage', value='Upload Image')
block afterScripts
  
